.Task {
    margin: 40px 50px 20px 0;
    width: 350px;
    height: 200px;
    box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, .5);
    max-width: 400px !important;
    display: flex;
    flex-direction: column;
}

.Task:hover {
    box-shadow: 2px 3px 20px #a87de9;
    cursor: pointer;
}

.task-header {
    background-color: #6a3bcc;
    display: flex;
    justify-content: space-around;
    height: 35px;
}

.task-header span {
    flex-grow: 2;
    font-size: 18px;
}

.task-title {
    padding: 11px 0 0 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
}

.task-body {
    padding: 15px;
    flex-grow: 1;
}

.card-desc {
    width: 200px;
    word-wrap: break-word;
    font-size: 20px;
}

.task-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 9px;
    padding: 0 10px 10px 240px;
    bottom: 0;
}

.star-img {
    padding: 8px;
}

.task-header img:hover, .dropdown:hover {
    cursor: pointer;
}
