.task-form {
    background: linear-gradient(90deg, white 0%, powderblue 100%);
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.form-title {
    color: #3faae2;
    text-align: center;
    padding-top: 12%;
}

.form-creator {
    background: #ffff;
    padding: 15px;
    box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, .5);
    width: 500px;
    height: auto;
    position: absolute;
    top: 37%;
    left: 37%;
}

.create-input {
    margin: 15px 0 15px 0;
}