.navbar {
    background-color: #17a3f4 !important;
    font-family: 'Roboto', sans-serif;
}
.navbar-brand {
    flex-grow: 100;
    color: white !important;
    font-size: 25px;
}

.logout-label img {
    margin: 0 5px 0 10px;
}
.logout-label, .create-label {
    margin: 0;
}
.logout-label:hover, .create-label:hover {
    cursor: pointer;
}
.create-link {
    color: #212529;
}