.Button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.Button:hover {
    cursor: pointer;
}

.Button:focus {
    outline: none;
}

.add-task-btn {
    width: 70px;
    height: 70px;
    background-color: #e3f2fd;
    border-radius: 50%;
    color: #6a3bcc;
    position: fixed;
    bottom: 40px;
    right: 50px;
    border: 1px solid #17a3f4;
}

.auth-btn {
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 1px 1px 3px black;
}

.login-btn {
    margin-left: 50px;
    background: #48cb39;
}

.signup-btn {
    margin-right: 50px;
    background: #2884f6;
}

.auth-btn:hover {
    opacity: .8;
}
