.Input {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.Input label {
    margin-bottom: 3px;
    padding: 0;
    display: block;
    font-weight: bold;
}

.Input input {
    display: block;
    box-sizing: border-box;
    padding: 7px;
    margin: 0 0 5px;
    width: 100%;
    outline: none;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.Input input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.Input span {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.Input.invalid label {
    color: red;
}

.edit-input {
    margin: 15px 0 15px 0;
}

.submit-input {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.submit-input:hover {
    background-color: #0062cc !important;
    border-color: #0062cc !important;
}